<p>
  <%= review.text %>
</p>
<p>
  By
  <%= review.reviewer.username unless review.reviewer.nil? %>
</p>
<td><%= link_to 'Edit', edit_book_review_path(@book, review) %></td>
<td><%= link_to 'Destroy', book_review_path(@book, review), method: :delete, data: { confirm: 'Are you sure?' } %></td>
